$color-brand: #FFAB00;
$color-dark: #32303E;
$color-white: #FFFFFF;
$color-hover: #3CCE42;
$color-grey: #808080;
$color-grey-light: #F9F9F9;
$color-blue: #334483;

$content-width: 1216px;
$tablet-width: 800px;
$mobile-big-width: 450px;