.header{
    padding: 25px 0;
    display: flex;
    @include media-tablet{
        display: block;
    }
    
    
}
.header__menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    @include media-tablet{
        margin-bottom: 20px;
    }
    >*{
        @include media-big-mobile{
            color: $color-white;
        }
    }
}
.header__menu>li:not(:last-child){
    margin-right: 17px;
}
.header-buttons{
    margin-left: 52px;
    display: flex;
    @include media-tablet{
        display: none;
    }
}
.header-buttons._mobile{
    display: none;
    
    @include media-tablet{
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        border-radius: 50px;
    }
}
.header__button._mobile img{
    width: 30px;
    
}
.header__logo{
    max-width: 290px;
    img{
        width: 100%;
    }
    @include media-laptop{
        max-width: 170px;
    }
    @include media-tablet{
        display: none;
    }
}
.header__logo._mobile{
    display: none;
    img{
        width: 50px;
    }
    @include media-tablet{
        display: block;
    }
}
.header__item._text{
    max-width: 190px;
    font-size: 1.1rem;
    line-height: 140%;
    font-weight: 500;
    color: $color-grey;
    @include media-tablet{
        font-weight: 600;
        font-size: 1.5rem;
    }
}
.header__item._dots{
    font-size: 1.6rem;
    color: $color-dark;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom:  1px dashed #808080;;
}
.header__button{
    max-width: 220px;
    padding: 9px 15px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(176, 174, 168, 0.25);
    border-radius: 5px;
    background-color: $color-grey-light;
}
.header__button:not(:last-child){
    margin-right: 20px;
}